___
# Atividade: Análise Exploratória - Tipos de Variáveis e Medidas Resumo
___

## Aula 02

<div id="indice"></div>

## Índice

- [Empresa de TV](#empresa-de-tv)
    - [Tipos de variáveis](#tipos-de-variaveis)
    - [Exercício 1](#ex1)
- [Variáveis QUALITATIVAS](#quali)
    - [Definindo as variáveis qualitativas como categóricas](#definindo-as-variaveis-qualitativas-como-categoricas)
    - [Tabelas de frequências - Variáveis Qualitativas](#tab-freq-quali)
        - [Exercício 2](#ex2)
        - [Exercício 3](#ex3)
    - [Tabelas cruzadas entre variáveis qualitativas](#tabelas-cruzadas-entre-variaveis-qualitativas)
        - [Exercício 4](#ex4)
        - [Exercício 5](#ex5)
- [Variáveis QUANTITATIVAS](#quanti)
    - [Tabelas de frequências - Variáveis Quantitativas - CUIDADO](#tab-freq-quanti)
        - [Exercício 6](#ex6)   
    - [Medidas resumo](#medidas-resumo)
        - [Exercício 7](#ex7)
        - [Exercício 8](#ex8)
        - [Exercício 9](#ex9)
        - [Exercício 10](#ex10)
        - [Exercício 11](#ex11)
- [Lista de comandos utilizados neste notebook](#comandos)


___

<div id="empresa-de-tv"></div>

# Empresa de TV

Uma empresa de TV via satélite criou recentemente dois tipos de planos de canais (A e B).

A empresa tem como objetivo estudar o perfil dos clientes que aderiram ao plano para enviar malas diretas aos potenciais clientes de cada tipo de plano.

A base de dados apresenta algumas variáveis para uma amostra de 82 clientes selecionados aleatoriamente dentre aqueles que aderiram aos planos. As variáveis têm os seguintes significados:

* CLIENTE: identificador do cliente. (nominal)
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). (nominal)
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros). (nominal)
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(Muito insatisfeito, Insatisfeito, Indiferente, Satisfeito e Muito satisfeito). (ordinal)
* RENDA: renda pessoal do cliente, em milhares de reais. (contínua)

O arquivo `EmpresaTV_Cod.xlsx` contém as variáveis descritas acima.

<div id="tipos-de-variaveis"></div>

## Tipos de variáveis

Antes de olhar os dados, vamos refletir sobre os tipos de cada variável disponível. Lembrando que temos:

- Variáveis qualitativas (ou categóricas):
    - Nominal
    - Ordinal
- Variáveis quantitativas (ou numéricas):
    - Discreta
    - Contínua

<div id="ex1"></div>

### EXERCÍCIO 1:

Classifique cada uma das variáveis disponíveis <font color="red">(modifique esta célula)</font>:

- PLANO: [Digite aqui sua resposta]
- EC: [Digite aqui sua resposta]
- SATISFACAO: [Digite aqui sua resposta]
- RENDA: [Digite aqui sua resposta]

### PROF

- PLANO: qualitativa nominal
- EC: qualitativa nominal
- SATISFACAO: qualitativa ordinal
- RENDA: quantitativa contínua

___
Agora sim, vamos carregar os dados do arquivo:

In [1]:
%matplotlib inline
import pandas as pd
import os

# Para ter melhor print
from IPython.display import display

In [2]:
# Listando o diretório de trabalho. Lembre-se que o arquivo com a base de dados precisa estar neste diretório.
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\loren\Repositorios\CD21-2\aula02

In [3]:
# Carregando os dados do arquivo
dados = pd.read_excel('EmpresaTV_Cod.xlsx')

In [4]:
# Visualizando as primeiras linhas
dados.head()

   CLIENTE  PLANO  EC        SATISFACAO  RENDA
0        1      1   1  Muito Satisfeito   21.4
1        2      1   2  Muito Satisfeito   17.2
2        3      1   3  Muito Satisfeito   15.6
3        4      1   1        Satisfeito   10.4
4        5      1   2  Muito Satisfeito   17.6

In [5]:
# PROF

#Aqui podemos fazer 
#type(dados)
#dados.dtypes e após alterar o tipo da variável repetir esse comando

In [6]:
# PROF
dados.dtypes

CLIENTE         int64
PLANO           int64
EC              int64
SATISFACAO     object
RENDA         float64
dtype: object

[Volta ao Índice](#indice)

<div id="quali"></div>

___

# Variáveis QUALITATIVAS

___

<div id="definindo-as-variaveis-qualitativas-como-categoricas"></div>

## Definindo as variáveis qualitativas como categóricas

No [primeiro exercício](#ex1) você deve ter identificado as variáveis PLANO, EC e SATISFACAO como qualitativas (ou categóricas). O pandas não tem como saber dessa informação ao carregar os dados, então precisamos modificar as colunas explicitamente.

<div id="astype"></div>

A função `.astype` devolve uma cópia da coluna (`Series`) convertida para o tipo desejado. Por exemplo, para transformar uma coluna em categórica devemos utilizar `.astype('category')`.

In [7]:
dados.dtypes

CLIENTE         int64
PLANO           int64
EC              int64
SATISFACAO     object
RENDA         float64
dtype: object

In [8]:
dados['PLANO'] = dados['PLANO'].astype('category')
dados['EC'] = dados['EC'].astype('category')
dados['SATISFACAO'] = dados['SATISFACAO'].astype('category')
# A próxima linha é desnecessária, pois a coluna já era do tipo float, mas 
# queremos mostrar que é possível utilizar outros tipos.
dados['RENDA'] = dados['RENDA'].astype('float')

In [9]:
# PROF
# Intuito: mostrar que mudou o tipo
dados.dtypes

CLIENTE          int64
PLANO         category
EC            category
SATISFACAO    category
RENDA          float64
dtype: object

In [10]:
# PROF
# Intuito: mostrar que output com sort=False é ordem alfabetica ou numerica?!
dados.PLANO.value_counts(sort=False)

1    46
2    36
Name: PLANO, dtype: int64

In [11]:
# PROF
# Intuito: mostrar que output com sort=False é ordem alfabetica ou numerica?!
dados.EC.value_counts(sort=False)

1    36
2    33
3    13
Name: EC, dtype: int64

In [12]:
# PROF
# Intuito: mostrar que output com sort=False é ordem alfabetica ou numerica?!
dados.SATISFACAO.value_counts(sort=False)

Indiferente           19
Insatisfeito          16
Muito Insatisfeito     8
Muito Satisfeito      12
Satisfeito            27
Name: SATISFACAO, dtype: int64

In [13]:
# PROF
# Intuito: caso algum aluno (ou profa) questione sobre for :P
vars = dados.columns[1:4]
for var in vars:
    print(var)
    print(dados[var].value_counts(sort=False))
    print("\n")

PLANO
1    46
2    36
Name: PLANO, dtype: int64


EC
1    36
2    33
3    13
Name: EC, dtype: int64


SATISFACAO
Indiferente           19
Insatisfeito          16
Muito Insatisfeito     8
Muito Satisfeito      12
Satisfeito            27
Name: SATISFACAO, dtype: int64

O uso de códigos numéricos é útil para determinadas finalidades, mas pode dificultar a compreensão. Vamos substituir os códigos numéricos pelos respectivos nomes.

<div id="categories"></div>

Agora que transformamos as colunas qualitativas em categóricas, podemos listar as categorias com `.cat.categories`:

In [14]:
# Exemplo com a coluna PLANO
dados['PLANO'].cat.categories

Int64Index([1, 2], dtype='int64')

In [15]:
dados.PLANO.cat.categories

Int64Index([1, 2], dtype='int64')

<div id="satisfacao-categoria"></div>

Podemos substituir os códigos todos de uma vez da seguinte maneira:

In [16]:
# Exemplo com a coluna PLANO
dados['PLANO'].cat.categories = ['A', 'B']


# Visualizando o resultado
dados['PLANO'].cat.categories

Index(['A', 'B'], dtype='object')

Note que essa ação atualiza todos os valores dessa coluna no `DataFrame`:

In [17]:
dados['PLANO']

0     A
1     A
2     A
3     A
4     A
     ..
77    B
78    B
79    B
80    B
81    B
Name: PLANO, Length: 82, dtype: category
Categories (2, object): ['A', 'B']

**Aplicação:** Faça o mesmo para a coluna `EC`:

In [18]:
# ESCREVA SEU CODIGO AQUI
dados.EC.cat.categories = ['Casado','Solteiro','Outros']
dados.EC.to_frame()

          EC
0     Casado
1   Solteiro
2     Outros
3     Casado
4   Solteiro
..       ...
77    Outros
78  Solteiro
79    Casado
80    Outros
81    Casado

[82 rows x 1 columns]

In [19]:
# PROF
dados['EC'].cat.categories

Index(['Casado', 'Solteiro', 'Outros'], dtype='object')

In [20]:
# PROF
dados['EC'].cat.categories = ['Casado', 'Solteiro', 'Outros']

# Visualizando o resultado
dados

    CLIENTE PLANO        EC          SATISFACAO  RENDA
0         1     A    Casado    Muito Satisfeito   21.4
1         2     A  Solteiro    Muito Satisfeito   17.2
2         3     A    Outros    Muito Satisfeito   15.6
3         4     A    Casado          Satisfeito   10.4
4         5     A  Solteiro    Muito Satisfeito   17.6
..      ...   ...       ...                 ...    ...
77       78     B    Outros        Insatisfeito    4.3
78       79     B  Solteiro        Insatisfeito    5.7
79       80     B    Casado        Insatisfeito    4.0
80       81     B    Outros        Insatisfeito    5.4
81       82     B    Casado  Muito Insatisfeito    0.6

[82 rows x 5 columns]

In [21]:
dados.head()

   CLIENTE PLANO        EC        SATISFACAO  RENDA
0        1     A    Casado  Muito Satisfeito   21.4
1        2     A  Solteiro  Muito Satisfeito   17.2
2        3     A    Outros  Muito Satisfeito   15.6
3        4     A    Casado        Satisfeito   10.4
4        5     A  Solteiro  Muito Satisfeito   17.6

In [22]:
dados.EC.value_counts().to_frame()

          EC
Casado    36
Solteiro  33
Outros    13

In [23]:
dados.PLANO.value_counts().to_frame()

   PLANO
A     46
B     36

In [24]:
dados.SATISFACAO.value_counts(sort=False).to_frame()

                    SATISFACAO
Indiferente                 19
Insatisfeito                16
Muito Insatisfeito           8
Muito Satisfeito            12
Satisfeito                  27

[Volta ao Índice](#indice)

---

<div id="ordered"></div>

## Nominal versus ordinal

Já definimos que as variáveis PLANO, EC e SATISFACAO são categóricas ou qualitativas. Porém, como definir no Pandas se essas variáveis são nominais (onde não existe uma ordenação natural) ou ordinais (em que existe ordenação)?

A informação de que uma variável categórica deve ser nominal ou ordinal está no atributo `.cat.ordered` da variável. Por padrão, quando definimos que uma variável é categórica o Pandas supõe que seja nominal (sem ordem). Confira:

In [25]:
dados['PLANO'].cat.ordered

False

In [26]:
dados['EC'].cat.ordered

False

In [42]:
dados.SATISFACAO

0       Muito Satisfeito
1       Muito Satisfeito
2       Muito Satisfeito
3             Satisfeito
4       Muito Satisfeito
             ...
77          Insatisfeito
78          Insatisfeito
79          Insatisfeito
80          Insatisfeito
81    Muito Insatisfeito
Name: SATISFACAO, Length: 82, dtype: category
Categories (5, object): ['Muito Insatisfeito' < 'Insatisfeito' < 'Indiferente' < 'Satisfeito' < 'Muito Satisfeito']

In [43]:
dados['SATISFACAO'].cat.ordered

True

Contudo, a variável SATISFACAO é ordinal! Para converter esta variável de nominal para ordinal devemos usar o comando `pd.Categorical()`:

In [44]:
dados['SATISFACAO'] = pd.Categorical(dados.SATISFACAO, 
                                     categories = ['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 
                                                   'Satisfeito', 'Muito Satisfeito'], 
                                     ordered=True)

In [45]:
dados['SATISFACAO'].cat.ordered

True

In [46]:
dados['SATISFACAO']

0       Muito Satisfeito
1       Muito Satisfeito
2       Muito Satisfeito
3             Satisfeito
4       Muito Satisfeito
             ...
77          Insatisfeito
78          Insatisfeito
79          Insatisfeito
80          Insatisfeito
81    Muito Insatisfeito
Name: SATISFACAO, Length: 82, dtype: category
Categories (5, object): ['Muito Insatisfeito' < 'Insatisfeito' < 'Indiferente' < 'Satisfeito' < 'Muito Satisfeito']

In [48]:
dados.SATISFACAO.value_counts(normalize= True, sort=False).to_frame()

                    SATISFACAO
Muito Insatisfeito    0.097561
Insatisfeito          0.195122
Indiferente           0.231707
Satisfeito            0.329268
Muito Satisfeito      0.146341

Observe que agora o relatório informa que 'Muito insatisfeito' vem antes de 'Insatisfeito', etc.

[Volta ao Índice](#indice)

<div id="tab-freq-quali"></div>

___
## Tabelas de frequências - Variáveis Qualitativas

Agora estamos prontos para começar nossa análise. Uma primeira pergunta que podemos nos fazer é: dos 82 clientes selecionados, quantos aderiram ao plano A e quantos aderiram ao plano B? Para isso podemos utilizar uma tabela de frequências.

<div id="value_counts"></div>

A função `.value_counts` pode ser utilizada para montar a tabela de frequências **de uma coluna**.

In [49]:
dados['PLANO'].value_counts()

A    46
B    36
Name: PLANO, dtype: int64

<div id="ex2"></div>

### EXERCÍCIO 2:

Na célula acima obtivemos a tabela de frequências absoluta. Pesquise na documentação da função `value_counts` (deve ser o primeiro resultado ao buscar por "pandas value_counts" em sua engine de busca de preferência) como obter a tabela de frequências relativas.

**DICA:** Não feche a documentação da função `value_counts`. Você ainda vai precisar dela.

In [56]:
# ESCREVA SEU CODIGO AQUI
dados.PLANO.value_counts(normalize = True).round(4).to_frame()*100

   PLANO
A   56.1
B   43.9

In [33]:
# PROF
dados['PLANO'].value_counts(normalize=True)

A    0.560976
B    0.439024
Name: PLANO, dtype: float64

In [57]:
dados.EC.value_counts(normalize = True).to_frame()

                EC
Casado    0.439024
Solteiro  0.402439
Outros    0.158537

[Volta ao Índice](#indice)

...

Queremos saber quantos clientes se enquadram em cada um dos graus de satisfação. Já sabemos que podemos utilizar a função `value_counts`:

In [58]:
dados['SATISFACAO'].value_counts().to_frame()

                    SATISFACAO
Satisfeito                  27
Indiferente                 19
Insatisfeito                16
Muito Satisfeito            12
Muito Insatisfeito           8

**A seguir, algumas maneiras para obter index (rótulo das linhas) de uma tabela:**

In [35]:
dados['SATISFACAO'].value_counts().index.values

['Satisfeito', 'Indiferente', 'Insatisfeito', 'Muito Satisfeito', 'Muito Insatisfeito']
Categories (5, object): ['Muito Insatisfeito' < 'Insatisfeito' < 'Indiferente' < 'Satisfeito' < 'Muito Satisfeito']

In [36]:
dados['SATISFACAO'].value_counts().keys()

CategoricalIndex(['Satisfeito', 'Indiferente', 'Insatisfeito',
                  'Muito Satisfeito', 'Muito Insatisfeito'],
                 categories=['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 'Satisfeito', 'Muito Satisfeito'], ordered=True, dtype='category')

**Aqui, algumas maneiras para obter o index e as frequências de uma tabela:**

In [37]:
tab = dados['SATISFACAO'].value_counts(sort=False)
tab

Muito Insatisfeito     8
Insatisfeito          16
Indiferente           19
Satisfeito            27
Muito Satisfeito      12
Name: SATISFACAO, dtype: int64

In [38]:
list(tab.index)

['Muito Insatisfeito',
 'Insatisfeito',
 'Indiferente',
 'Satisfeito',
 'Muito Satisfeito']

In [39]:
list(tab.values)

[8, 16, 19, 27, 12]

In [40]:
list(tab.iteritems())

[('Muito Insatisfeito', 8),
 ('Insatisfeito', 16),
 ('Indiferente', 19),
 ('Satisfeito', 27),
 ('Muito Satisfeito', 12)]

In [41]:
for val, cnt in tab.iteritems():
    print(f'Categoria {val} foi encontrada {cnt} vezes')

Categoria Muito Insatisfeito foi encontrada 8 vezes
Categoria Insatisfeito foi encontrada 16 vezes
Categoria Indiferente foi encontrada 19 vezes
Categoria Satisfeito foi encontrada 27 vezes
Categoria Muito Satisfeito foi encontrada 12 vezes

**Ver este [link](https://stackoverflow.com/questions/36973387/accessing-first-column-of-pandas-value-counts) para mais detalhes, por exemplo**

[Volta ao Índice](#indice)

<div id="ex3"></div>

### EXERCÍCIO 3:

A tabela de frequências absolutas acima nos dá a informação que precisamos, mas a ordem dos graus de satisfação dificulta a compreensão. Procure na documentação:

1. Por que a tabela foi apresentada nessa ordem;
1. Como fazer para não utilizar essa ordem (e utilizar a [ordem definida nas categorias](#satisfacao-categoria));
1. Escreva na célula abaixo o código que mostra a tabela de frequências **relativas** na ordem desejada.

In [63]:
# ESCREVA SEU CODIGO AQUI
colunas = ['PLANO', 'EC', 'SATISFACAO']
# colunas = dados.colums[1:4]
for coluna in colunas:
    display(dados[coluna].value_counts(normalize=True, sort=False).to_frame().round(4) * 100)

   PLANO
A   56.1
B   43.9

             EC
Casado    43.90
Solteiro  40.24
Outros    15.85

                    SATISFACAO
Muito Insatisfeito        9.76
Insatisfeito             19.51
Indiferente              23.17
Satisfeito               32.93
Muito Satisfeito         14.63

In [60]:
# PROF
dados['SATISFACAO'].value_counts(normalize=True, sort=False).to_frame().round(4)*100

                    SATISFACAO
Muito Insatisfeito        9.76
Insatisfeito             19.51
Indiferente              23.17
Satisfeito               32.93
Muito Satisfeito         14.63

[Volta ao Índice](#indice)

<div id="tabelas-cruzadas-entre-variaveis-qualitativas"></div>

___
## Tabelas cruzadas entre variáveis qualitativas

Nas tabelas de frequência já vimos quantos clientes aderiram a cada plano e quantos estão em cada grau de satisfação. Mas, lembrando do propósito inicial, a empresa quer estudar o perfil dos clientes de cada plano e, até agora, não adicionamos nenhum conhecimento novo.

Vamos mudar isso tentando responder a seguinte pergunta: como a satisfação dos clientes do plano A se compara à dos clientes do plano B?

<div id="crosstab"></div>

Podemos montar uma tabela cruzada de plano versus satisfação com a função `pd.crosstab`:

In [81]:
pd.crosstab(dados['PLANO'], dados['SATISFACAO'], margins = True)

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito,All
PLANO,,,,,,
A,2,5,7,20,12,46
B,6,11,12,7,0,36
All,8,16,19,27,12,82

<div id="ex4"></div>

### EXERCÍCIO 4

Sabemos que a quantidade de clientes em cada plano na nossa amostra é diferente. Por esse motivo, não podemos comparar os valores absolutos. Procure a documentação da função `pd.crosstab` (busque por "pandas crosstab") e crie uma nova tabela cruzada:

- Que apresente as frequências relativas ao invés de absolutas para cada plano (ou seja, do total de clientes do plano A, qual é a frequência relativa de muito insatisfeitos, insatisfeitos, etc. e para o plano B?);
- Armazene o resultado em uma variável chamada `plano_x_satisfacao` (é importante que você utilize exatamente esse nome para que as próximas células funcionem).

In [84]:
# ESCREVA SEU CODIGO AQUI
plano_x_satisfacao = pd.crosstab(dados.PLANO, dados.SATISFACAO, normalize = 'index', margins = True)
plano_x_satisfacao

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito
PLANO,,,,,
A,0.043478,0.108696,0.152174,0.434783,0.260870
B,0.166667,0.305556,0.333333,0.194444,0.000000
All,0.097561,0.195122,0.231707,0.329268,0.146341

In [85]:
plano_satisfacao = pd.crosstab(dados['PLANO'], dados['SATISFACAO'], normalize='columns')
plano_satisfacao

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito
PLANO,,,,,
A,0.25,0.3125,0.368421,0.740741,1.0
B,0.75,0.6875,0.631579,0.259259,0.0

Pode ser mais interessante visualizar esses dados como porcentagens. Para isso podemos multiplicar todas as frequências por 100 (por isso precisávamos guardar a tabela cruzada na variável `plano_x_satisfacao`):

In [86]:
plano_x_satisfacao_pct = plano_x_satisfacao*100
plano_x_satisfacao_pct.round(2)

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito
PLANO,,,,,
A,4.35,10.87,15.22,43.48,26.09
B,16.67,30.56,33.33,19.44,0.00
All,9.76,19.51,23.17,32.93,14.63

Para deixar um pouco mais claro, vamos mostrar apenas as primeiras 2 casas decimais:

In [48]:
plano_x_satisfacao_pct = plano_x_satisfacao_pct.round(decimals=2)
print('Tabela Cruzada por total por PLANO (em %):')
plano_x_satisfacao_pct

Tabela Cruzada por total por PLANO (em %):

SATISFACAO,Muito Insatisfeito,Insatisfeito,Indiferente,Satisfeito,Muito Satisfeito
PLANO,,,,,
A,4.35,10.87,15.22,43.48,26.09
B,16.67,30.56,33.33,19.44,0.00

<div id="ex5"></div>

### EXERCÍCIO 5

Discuta a tabela cruzada obtida acima. Quais hipóteses você pode levantar? Por quê?

#### R.:
Os clientes que escolheram o plano A aparentam estar mais satisfeitos do que aqueles optantes pelo plano B.

[Volta ao Índice](#indice)

<div id="quanti"></div>

___

# Variáveis QUANTITATIVAS

___

<div id="tab-freq-quanti"></div>

## Tabelas de frequências - Variáveis Quantitativas - CUIDADO

Vamos ver o que acontece ao tentarmos montar a tabela de frequências da variável RENDA:

In [78]:
dados['RENDA'].value_counts()

4.9     3
5.4     2
2.5     2
13.2    2
0.8     2
       ..
14.8    1
6.8     1
4.2     1
5.7     1
13.5    1
Name: RENDA, Length: 68, dtype: int64

Deu ruim!

<div id="ex6"></div>

### EXERCÍCIO 6

Qual é o problema de tentarmos criar uma tabela de frequências para a variável RENDA?

#### R.: 
Trata-se de uma variável quantitativa contínua. Neste caso, os valores existentes na tabela não se agrupam em categorias naturais como as categorias de variáveis qualitativas, ou os valores discretos possíveis no caso de uma variável quantitativa discreta. Em uma variável quantitativa contínua, é possível que cada valor obtido seja diferente!

Portanto, uma tabela de frequências da variável RENDA não é um objeto útil para nossa análise exploratória. 

Mas podemos contornar esse problema se atribuirmos uma categoria para cada valor, sendo que essas categorias são determinadas por uma lista de faixas de valores, e cada valor da nossa variável deverá se encaixar em uma dessas faixas. Poderemos então obter algo similar a uma tabela de frequência para nossa variável quantitativa contínua: um *histograma*. Veremos mais sobre histogramas em aulas vindouras.

[Volta ao Índice](#indice)

<div id="medidas-resumo"></div>

___

## Medidas resumo

Ainda não consideramos a variável RENDA em nossa análise. Vimos em aula que é possível obter diversas medidas resumo a partir de variáveis quantitativas. Vamos explorar algumas delas para tentar compreender melhor os nossos dados.

<div id="ex7"></div>

### EXERCÍCIO 7

Antes de começar nossa análise, seria interessante comparar os resultados para cada plano separadamente. Para isso, vamos começar separando nosso `DataFrame` `dados` em dois `DataFrame`s diferentes. Crie quatro variáveis:

- `dados_a` contendo somente os dados dos clientes do plano A;
- `dados_b` contendo somente os dados dos clientes do plano B;
- `renda_a` contendo somente a renda dos clientes do plano A (dica: utilize a variável `dados_a`);
- `renda_b` contendo somente a renda dos clientes do plano B (dica: utilize a variável `dados_b`);

Qual é o tipo das variáveis `renda_a` e `renda_b`? São do tipo `DataFrame` ou algum outro tipo?

In [92]:
# ESCREVA SEU CODIGO AQUI
# df.loc[ref às linhas, ref. às colunas] -> rótulo
# iloc -> usa indice

In [88]:
dados_a = dados.loc[dados.PLANO == 'A', :]
dados_a.head()

   CLIENTE PLANO        EC        SATISFACAO  RENDA
0        1     A    Casado  Muito Satisfeito   21.4
1        2     A  Solteiro  Muito Satisfeito   17.2
2        3     A    Outros  Muito Satisfeito   15.6
3        4     A    Casado        Satisfeito   10.4
4        5     A  Solteiro  Muito Satisfeito   17.6

In [89]:
dados_b = dados.loc[dados['PLANO'] == 'B', :]
dados_b.head()

    CLIENTE PLANO        EC    SATISFACAO  RENDA
46       47     B  Solteiro  Insatisfeito    3.9
47       48     B  Solteiro  Insatisfeito    3.5
48       49     B    Outros  Insatisfeito    3.3
49       50     B  Solteiro  Insatisfeito    2.6
50       51     B  Solteiro  Insatisfeito    2.5

In [90]:
renda_a = dados_a['RENDA']
renda_a

0     21.4
1     17.2
2     15.6
3     10.4
4     17.6
5      9.8
6     13.5
7      7.8
8     14.4
9     11.2
10    13.2
11     7.4
12     7.7
13     9.2
14    10.0
15    12.9
16     9.4
17    10.3
18    14.8
19    16.7
20     9.3
21     7.4
22    12.4
23     7.0
24     6.8
25     9.9
26     6.1
27    11.5
28    10.8
29     0.8
30     8.9
31     6.0
32     0.7
33     8.4
34    13.2
35    10.7
36    11.2
37    18.5
38    12.9
39     5.3
40     4.7
41     6.0
42    10.7
43     1.9
44    14.0
45    13.8
Name: RENDA, dtype: float64

In [91]:
renda_b = dados_b['RENDA']
renda_b

46     3.9
47     3.5
48     3.3
49     2.6
50     2.5
51     4.9
52     8.1
53     4.9
54     4.2
55     5.5
56     0.8
57    19.2
58    10.2
59     5.3
60     5.5
61     4.7
62     9.5
63    10.6
64     2.5
65     8.2
66     9.0
67     7.9
68     6.9
69     6.2
70     5.3
71     5.0
72     5.4
73     5.8
74     4.9
75     4.3
76     4.2
77     4.3
78     5.7
79     4.0
80     5.4
81     0.6
Name: RENDA, dtype: float64

[Volta ao Índice](#indice)

<div id="ex8"></div>

### EXERCÍCIO 8

<div id="mean-median-etc"></div>

O pandas disponibiliza diversas funções para o cálculo de medidas resumo. Alguns exemplos são: `mean`, `median`, `quantile`, `var`, `std`. Os nomes das funções dão uma boa dica do que elas fazem, mas, como sempre, é bom verificar a documentação do pandas para garantir que elas fazem o que você espera.

Imprima a média, o primeiro, segundo (mediana) e terceiro quartis e o desvio padrão das rendas do clientes do plano A e B, separadamente.

In [55]:
# ESCREVA SEU CODIGO AQUI

In [56]:
# PROF
for title, var in (('Plano A', renda_a), ('Plano B', renda_b)):
    print(title)
    print('-' * len(title))
    print(f'contagem = {len(var)}')
    print(f'média = {var.mean():.2f}')
    print(f'Q1 = {var.quantile(q=0.25):.2f}')
    print(f'mediana (Q2) = {var.median():.2f}')
    print(f'Q3 = {var.quantile(q=0.75):.2f}')
    print(f'variância amostral = {var.var():.2f}')
    print(f'desvio padrão amostral = {var.std():.2f}')
    print()

Plano A
-------
contagem = 46
média = 10.42
Q1 = 7.48
mediana (Q2) = 10.35
Q3 = 13.20
variância amostral = 19.94
desvio padrão amostral = 4.47

Plano B
-------
contagem = 36
média = 5.69
Q1 = 4.15
mediana (Q2) = 5.15
Q3 = 6.38
variância amostral = 10.85
desvio padrão amostral = 3.29

[Volta ao Índice](#indice)

<div id="ex9"></div>

### EXERCÍCIO 9

<div id="describe"></div>

Uma função bastante útil para a análise exploratória é `.describe()`. Utilize a função `.describe()` com as rendas dos planos A e B e compare os resultados com os obtidos na célula anterior.

In [57]:
# ESCREVA SEU CODIGO AQUI

In [58]:
# PROF
renda_a.describe()

count    46.000000
mean     10.421739
std       4.465568
min       0.700000
25%       7.475000
50%      10.350000
75%      13.200000
max      21.400000
Name: RENDA, dtype: float64

In [59]:
# PROF
renda_b.describe()

count    36.000000
mean      5.688889
std       3.293437
min       0.600000
25%       4.150000
50%       5.150000
75%       6.375000
max      19.200000
Name: RENDA, dtype: float64

In [60]:
# PROF
for title, var in (('Plano A', renda_a), ('Plano B', renda_b)):
    print(title)
    print('-' * len(title))
    print(var.describe())
    print()

Plano A
-------
count    46.000000
mean     10.421739
std       4.465568
min       0.700000
25%       7.475000
50%      10.350000
75%      13.200000
max      21.400000
Name: RENDA, dtype: float64

Plano B
-------
count    36.000000
mean      5.688889
std       3.293437
min       0.600000
25%       4.150000
50%       5.150000
75%       6.375000
max      19.200000
Name: RENDA, dtype: float64

[Volta ao Índice](#indice)

<div id="ex10"></div>

### EXERCÍCIO 10

Quais hipóteses você pode formular a partir das medidas resumo da renda dos clientes dos dois planos?

In [61]:
#ESCREVA SUA RESPOSTA AQUI

ESCREVA SUA RESPOSTA AQUI

In [62]:
# PROF
for plano, renda in (('Plano A', renda_a), ('Plano B', renda_b)):
    print(f'{plano}: std / mean = {renda.std() / renda.mean():.2f}')

Plano A: std / mean = 0.43
Plano B: std / mean = 0.58

#PROF

A renda dos consumidores do Plano A é, em média, maior que a renda dos consumidores do Plano B. Ademais, o desvio padrão da renda entre os consumidores do Plano A é maior do que o dos consumidores do Plano B. 

Contudo, se considerarmos a variação da renda em relação à renda média do grupo, a variação relativa da renda do grupo A é menor do que aquela do grupo B.

[Volta ao Índice](#indice)

<div id="ex11"></div>

### EXERCÍCIO 11

Se tentarmos executar o comando

    dados['EC'].mean()
    
vamos obter um erro. Por quê?

ESCREVA SUA RESPOSTA AQUI

In [63]:
# PROF
dados['EC'].mean()

TypeError: Categorical cannot perform the operation mean

#PROF

Não faz sentido calcular o valor médio de uma variável categórica, pois as categorias não estão naturalmente associadas a valores quantitativos, representando meramente elementos de um conjunto.

[Volta ao Índice](#indice)

<div id="comandos"></div>

___

## Lista de comandos utilizados neste notebook

Os seguintes comandos foram utilizados neste jupyter notebook. Para facilitar sua consulta, escreva um resumo do que cada um deles faz:

- [`.astype`](#astype): ESCREVA AQUI O RESUMO
- [`.cat.categories`](#categories): ESCREVA AQUI O RESUMO
- [`.cat.ordered`](#ordered): ESCREVA AQUI O RESUMO
- [`.value_counts`](#value_counts): ESCREVA AQUI O RESUMO
- [`pd.crosstab`](#crosstab): ESCREVA AQUI O RESUMO
- [`.mean`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.median`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.quantile`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.var`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.std`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.describe`](#describe): ESCREVA AQUI O RESUMO